NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=ENTER_PUBLISHABLE_KEY_HERE
CLERK_SECRET_KEY=ENTER_SECRET_KEY
DATABASE_URL=ENTER_DATABASE_URL_HERE
SEED_USER_ID=ENTER_SEED_USER_ID_HERE